<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Administration</title>
    <link rel="stylesheet" href="/frontend/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container-fluid">
        <!-- PREMIERE LIGNE CONTENANT LE LOGO -->
        <nav class="navbar  ">
            <span class="navbar-brand" STYLE="font-weight: bold">
                <img class="mr-6"  src="../frontend/public/image/logo.png" width="60" height="60    " alt="" loading="lazy" >
                FUTSO
            </span>

        </nav>
        <!-- DEUXIEME LIGNE CONTENANT LA BARRE VERTE -->
        <div class="row">
            <div class="col wireframe greenBar">
            </div>
        </div>
        <!--Ligne contenant le menu-->
        <div class="row">
            <div aria-label="breadcrumb"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item  "><a href="#">CONFIGURATOR</a></li>
                <li class="breadcrumb-item  "><a href="#">Administrator</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Administration</li>
            </ol>
        </div>


        <div class="container">
            <div class="card">
                <div class="card-header">
                    <a href="/addUser" class="btn btn-sm btn-success">Add User</a>
                    <!-- Modals -->
                </div>
                <div class="card-body ">
                    <!-- TABLEAU POUR AJOUTER LES UTILISATEUR -->
                    <table class="table table-light table-bordered ">
                        <thead thead-succes>
                            <tr>
                                <th>Legal name</th>
                                <!--  <th>Departement</th> -->
                                <th>Active</th>
                                <th>Reason</th>
                                <th>Username</th>
                                <th>Usertype</th>
                                <th>Password</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% fs_user.forEach(
                                function(user){ %>
                                <tr>
                                    <td>
                                        <%= user._USER_LEGAL_NAME_ %>
                                    </td>
                                    <!-- <td>
                                        <%= user.USER_DEPARTEMENT %>
                                    </td> -->
                                    <td>
                                        <%= user.USER_ACTIVE %>
                                    </td>
                                    <td>
                                        <%= user.USER_REASON %>
                                    </td>
                                    <td>
                                        <%= user._USER_USERNAME %>

                                    </td>
                                    <td>
                                        <%= user.USER_TYPE %>

                                    </td>
                                    <td>
                                        <%= user.___USER_PASSWORD %>

                                    </td>
                                    <td>
                                        <a href=" " class="btn btn-sm btn-primary ">Edit</a>
                                        <a href=" " class="btn btn-sm btn-danger ">Delete</a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

</html>